.cart-lists{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 30px;
    width: 100%;
    min-height: 100vh;
    padding-left: 20px;

.cart-lists-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;

}


.card-container{
    border: 1px solid rgb(148, 148, 148);
    width: 15rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 2rem;
    box-shadow: 3px 4px 3px gray;
    .image{
        width: 95%;
        margin: 6px;
    }
    .prices{
      display: grid;
      grid-template-columns: 1fr 3fr;
      padding-left: 1rem;
    }
    .new-price{
        font-weight: bolder;
    }
    .old-price{
        font-weight: bolder;
        position: relative;
        right: 0;
    }
    .lower-cart{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .product-name{
        font-weight: bold;
        margin-left: 1rem;
    }
    .add-to-cart-btn{
        width: 100%;
        height: 25%;
        border-bottom: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: rgb(39, 39, 39);
      color: white;

    }
}}