.subheader-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: antiquewhite;
    min-height:5vh;
    padding-left: 2rem;
    box-shadow: 2px 3px 2px rgb(131, 125, 125);
    
  .categories{
  border: 1px solid rgb(247, 234, 234);
  width: 100%;
  }  








}